.text-footer-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-div {
  text-align: center;
  box-sizing: border-box;
  width: 95;
  height: 35vh;
  word-wrap: break-word;
  text-align: center;
  font-size: 1em;
  overflow: scroll;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
}

.editor {
  position: absolute;
  width: 20vw;
  height: 30vh;
  margin: 0 auto;
  appearance: none;
  border: 0;
  resize: none;
  color: white;
  box-sizing: border-box;
  padding: 2vh 2vw;
  text-align: center;
}
